<nav class="navbar navbar-expand-sm navbar-light navbar-ai">
  <div class="container-fluid">

    <!-- Logo / Brand -->
    <%= link_to root_path, class: "navbar-brand d-flex align-items-center" do %>
      <span class="logo-square me-2 bg-white text-dark">IA</span>
      <span class="fw-semibold">RoutineCare</span>
    <% end %>

    <!-- Botão mobile -->
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Links -->
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto">
        <% if user_signed_in? %>
          <li class="nav-item"><%= link_to "Página inicial", root_path, class: "nav-link" %></li>
          <li class="nav-item"><%= link_to "Minhas tarefas", tasks_path, class: "nav-link" %></li>
          <li class="nav-item"><%= link_to "Sair", destroy_user_session_path, data: { turbo_method: :delete }, class: "nav-link" %></li>

          <!-- Avatar / menu -->
          <li class="nav-item dropdown ms-sm-2">
            <a href="#" class="avatar" id="navbarDropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <%= image_tag "https://ca.slack-edge.com/T02NE0241-U01U4S92NJ1-346b46af5faf-512", class: "avatar", alt: "dropdown menu" %>
            </a>
          </li>
        <% else %>
          <li class="nav-item">
            <%= link_to "Entrar", new_user_session_path, class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "Criar conta", new_user_registration_path, class: "btn ms-sm-2 my-1 my-sm-0", style: "background-color: #99BC85; color: white;" %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>
