<%= link_to "← #{@chat.tarefa.name}", tarefa_path(@chat.tarefa) %>

<h1 id="chat_title"><%= @chat.title %></h1>

<div id="new_message_container">
  <%= simple_form_for [@chat, @mensagem] do |f| %>
    <%= f.input :content, label: "Ask a question", required: true, placeholder: "Aqui você pode descrever suas tarefas" %>
    <%= f.button :submit, 'Ask LLM', class: 'btn btn-primary' %>
  <% end %>
</div>

<%= link_to "← #{@chat.tarefa.name}", tarefa_path(@chat.tarefa) %>

<h1 id="chat_title"><%= @chat.title %></h1>

<% @chat.mensagens.each do |mensagem| %>
  <p>
    <strong><%= mensagem.role %></strong>
    <%= raw(render_markdown(mensagem.conteudo)) %>
  </p>
<% end %>

<div id="messages">
  <% @chat.mensagens.each do |mensagem| %>
    <% if mensagem.role == "user" %>
      <div class="d-flex justify-content-end mb-2">
        <div class="bg-white px-3 pb-0 pt-3 rounded-pill">
          <%= raw(render_markdown(mensagem.conteudo)) %>
        </div>
      </div>
    <% elsif mensagem.role == "assistant" %>
      <div class="d-flex justify-content-start mb-5">
        <div class="px-3 pb-0 pt-3">
          <%= raw(render_markdown(mensagem.conteudo)) %>
        </div>
      </div>
    <% end %>
  <% end %>
</div>
